In [ ]:
## Inventory Mangement Creation

In [35]:
record={ 11:{"brand":"kitkat","cost":5,"color":"brown", "quantity":10, "country":"India" },
        12:{"brand":"lays","cost":5,"color":"yellow", "quantity":10, "country":"USA" },
       13:{"brand":"Samsung","cost":5000,"color":"brown", "quantity":10, "country":"India" },
       14:{"brand":"Perk","cost":5,"color":"brown", "quantity":10, "country":"India" },
       15:{"brand":"Kent","cost":10000,"color":"brown", "quantity":10, "country":"India" },
       16:{"brand":"Realme","cost":500000,"color":"brown", "quantity":10, "country":"India" },
       17:{"brand":"Classmate","cost":15,"color":"brown", "quantity":10, "country":"India" },
       18:{"brand":"Paragon","cost":1115,"color":"brown", "quantity":10, "country":"India" },
       19:{"brand":"Tata","cost":1525,"color":"brown", "quantity":10, "country":"India" },
       20:{"brand":"Jockey","cost":245,"color":"brown", "quantity":10, "country":"India" },
       21:{"brand":"Bata","cost":2345,"color":"brown", "quantity":10, "country":"India" },
       22:{"brand":"Nike","cost":1125,"color":"brown", "quantity":10, "country":"India" },
       23:{"brand":"Pearl","cost":2335,"color":"brown", "quantity":10, "country":"India" },
       24:{"brand":"Titan","cost":5000,"color":"brown", "quantity":10, "country":"India" },
       25:{"brand":"Sonata","cost":2335,"color":"brown", "quantity":10, "country":"India" },
       26:{"brand":"HP","cost":411115,"color":"brown", "quantity":10, "country":"India" }}

In [8]:
len(record)

16

In [ ]:
## Dealing with json

In [9]:
import json

In [ ]:
## Converting the dictionary into text

In [10]:
data=json.dumps(record)

In [11]:
data

'{"11": {"brand": "kitkat", "cost": 5, "color": "brown", "quantity": 10, "country": "India"}, "12": {"brand": "lays", "cost": 5, "color": "yellow", "quantity": 10, "country": "USA"}, "13": {"brand": "Samsung", "cost": 5000, "color": "brown", "quantity": 10, "country": "India"}, "14": {"brand": "Perk", "cost": 5, "color": "brown", "quantity": 10, "country": "India"}, "15": {"brand": "Kent", "cost": 10000, "color": "brown", "quantity": 10, "country": "India"}, "16": {"brand": "Realme", "cost": 500000, "color": "brown", "quantity": 10, "country": "India"}, "17": {"brand": "Classmate", "cost": 15, "color": "brown", "quantity": 10, "country": "India"}, "18": {"brand": "Paragon", "cost": 1115, "color": "brown", "quantity": 10, "country": "India"}, "19": {"brand": "Tata", "cost": 1525, "color": "brown", "quantity": 10, "country": "India"}, "20": {"brand": "Jockey", "cost": 245, "color": "brown", "quantity": 10, "country": "India"}, "21": {"brand": "Bata", "cost": 2345, "color": "brown", "quantity": 10, "country": "India"}, "22": {"brand": "Nike", "cost": 1125, "color": "brown", "quantity": 10, "country": "India"}, "23": {"brand": "Pearl", "cost": 2335, "color": "brown", "quantity": 10, "country": "India"}, "24": {"brand": "Titan", "cost": 5000, "color": "brown", "quantity": 10, "country": "India"}, "25": {"brand": "Sonata", "cost": 2335, "color": "brown", "quantity": 10, "country": "India"}, "26": {"brand": "HP", "cost": 411115, "color": "brown", "quantity": 10, "country": "India"}}'

In [ ]:
## Converting text data back int dictionary

In [14]:
data2=json.loads(data)

In [15]:
data2

{'11': {'brand': 'kitkat',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '12': {'brand': 'lays',
  'cost': 5,
  'color': 'yellow',
  'quantity': 10,
  'country': 'USA'},
 '13': {'brand': 'Samsung',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '14': {'brand': 'Perk',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '15': {'brand': 'Kent',
  'cost': 10000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '16': {'brand': 'Realme',
  'cost': 500000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '17': {'brand': 'Classmate',
  'cost': 15,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '18': {'brand': 'Paragon',
  'cost': 1115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '19': {'brand': 'Tata',
  'cost': 1525,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '20': {'brand': 'Jockey',
  'cost': 245,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '21': {'brand': 'Bata',
  'cost': 2345,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '22': {'brand': 'Nike',
  'cost': 1125,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '23': {'brand': 'Pearl',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '24': {'brand': 'Titan',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '25': {'brand': 'Sonata',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '26': {'brand': 'HP',
  'cost': 411115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'}}

In [24]:
record

{11: {'brand': 'kitkat',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 12: {'brand': 'lays',
  'cost': 5,
  'color': 'yellow',
  'quantity': 10,
  'country': 'USA'},
 13: {'brand': 'Samsung',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 14: {'brand': 'Perk',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 15: {'brand': 'Kent',
  'cost': 10000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 16: {'brand': 'Realme',
  'cost': 500000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 17: {'brand': 'Classmate',
  'cost': 15,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 18: {'brand': 'Paragon',
  'cost': 1115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 19: {'brand': 'Tata',
  'cost': 1525,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 20: {'brand': 'Jockey',
  'cost': 245,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 21: {'brand': 'Bata',
  'cost': 2345,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 22: {'brand': 'Nike',
  'cost': 1125,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 23: {'brand': 'Pearl',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 24: {'brand': 'Titan',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 25: {'brand': 'Sonata',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 26: {'brand': 'HP',
  'cost': 411115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'}}

In [ ]:
##  Writing the text data into record.json file

In [ ]:
fp=open('record.json','w')
fp.write(data)

In [ ]:
##  Reading the data from record.json file

In [25]:
fp2=json.loads(data)

In [26]:
fp2

{'11': {'brand': 'kitkat',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '12': {'brand': 'lays',
  'cost': 5,
  'color': 'yellow',
  'quantity': 10,
  'country': 'USA'},
 '13': {'brand': 'Samsung',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '14': {'brand': 'Perk',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '15': {'brand': 'Kent',
  'cost': 10000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '16': {'brand': 'Realme',
  'cost': 500000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '17': {'brand': 'Classmate',
  'cost': 15,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '18': {'brand': 'Paragon',
  'cost': 1115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '19': {'brand': 'Tata',
  'cost': 1525,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '20': {'brand': 'Jockey',
  'cost': 245,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '21': {'brand': 'Bata',
  'cost': 2345,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '22': {'brand': 'Nike',
  'cost': 1125,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '23': {'brand': 'Pearl',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '24': {'brand': 'Titan',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '25': {'brand': 'Sonata',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 '26': {'brand': 'HP',
  'cost': 411115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'}}

In [ ]:
## Sales JSON

In [36]:
pid=int(input("Enter product id"))
qty=int(input("Enter the quanity"))

Enter product id11
Enter the quanity2

In [59]:
{'id':pid ,'qn':qty,'amt':record[pid]['cost'] * qty}

{'id': 11, 'qn': 2, 'amt': 10}

In [60]:
sales={1:{'id':pid ,'amt':record[pid]['cost'] * qty},
      2:{'id':pid ,'amt':record[pid]['cost'] * qty},
      3:{'id':pid ,'amt':record[pid]['cost'] * qty}}

In [61]:
len(sales)

3

In [62]:
record[pid]['quantity']=record[pid]['quantity']-qty

In [63]:
record

{11: {'brand': 'kitkat',
  'cost': 5,
  'color': 'brown',
  'quantity': 4,
  'country': 'India'},
 12: {'brand': 'lays',
  'cost': 5,
  'color': 'yellow',
  'quantity': 10,
  'country': 'USA'},
 13: {'brand': 'Samsung',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 14: {'brand': 'Perk',
  'cost': 5,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 15: {'brand': 'Kent',
  'cost': 10000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 16: {'brand': 'Realme',
  'cost': 500000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 17: {'brand': 'Classmate',
  'cost': 15,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 18: {'brand': 'Paragon',
  'cost': 1115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 19: {'brand': 'Tata',
  'cost': 1525,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 20: {'brand': 'Jockey',
  'cost': 245,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 21: {'brand': 'Bata',
  'cost': 2345,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 22: {'brand': 'Nike',
  'cost': 1125,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 23: {'brand': 'Pearl',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 24: {'brand': 'Titan',
  'cost': 5000,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 25: {'brand': 'Sonata',
  'cost': 2335,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'},
 26: {'brand': 'HP',
  'cost': 411115,
  'color': 'brown',
  'quantity': 10,
  'country': 'India'}}